<template>
    <div class="container">
        <div class="alert alert-danger" v-if="error">Something went wrong while getting data: {{error.message}}</div>
        <div class="form-inline">
            <div class="form-group mx-sm-2 mb-2">
                <label for="select-city" class="sr-only">miasto</label>
                <select v-model="selectedCityId" class="form-control" id="select-city">
                    <option value="0" disabled>Wybierz miasto</option>
                    <option v-for="city in cities" v-bind:value="city.id">{{ city.name }}</option>
                </select>
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <label for="select-street" class="sr-only">ulica</label>
                <select v-model="selectedStreetId" class="form-control" id="select-street" :disabled="streets.length === 0">
                    <option value="0" disabled>Wybierz ulice</option>
                    <option v-for="street in streets" v-bind:value="street.id">{{ street.name }}</option>
                </select>
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <label for="select-year" class="sr-only">rok</label>
                <select v-model="selectedYearId" class="form-control" id="select-year" :disabled="this.selectedStreetId === 0">
                    <option value="0" disabled>Wybierz rok</option>
                    <option v-for="year in years" v-bind:value="year.id">{{ year.year }}</option>
                </select>
            </div>
            <div class="sm-2" v-if="loading">
                <img src="/img/loading.gif" alt="">
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Rok</th>
                <th>Budynek</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="building in buildings">
                <tr>
                    <td>{{ building.city_name }}</td>
                    <td>{{ building.street_name }}</td>
                    <td>{{ building.year }}</td>
                    <td>{{ building.building_name }}</td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
  export default {
    props: ['cities'],
    data() {
      return {
        loading: false,
        error: false,
        selectedCityId: 0,
        selectedStreetId: 0,
        selectedYearId: 0,
        streets: [],
        years: [],
        buildings: [],
        tableData: {},
      }
    },
    watch: {
      selectedCityId: function (newValue, oldValue) {
        if (newValue === oldValue) {
          return;
        }
        if (newValue === 0) {
          this.selectedStreetId = 0;
          this.streets = [];
          return;
        }
        this.selectedStreetId = 0;
        this.getStreets();
      },
      selectedStreetId: function (newValue, oldValue) {
        if (newValue === oldValue) {
          return;
        }
        if (newValue === 0) {
          this.selectedYearId = 0;
          this.years = [];
          return;
        }
        this.selectedYearId = 0;
        this.getYears();
      },
      selectedYearId: function (newValue, oldValue) {
        if (newValue === oldValue) {
          return;
        }
        if (newValue === 0) {
          this.buildings = [];
          return;
        }
        this.getBuildings();
      }
    },
    methods: {
      getStreets() {
        this.loading = true;
        axios.get('api/streets/' + this.selectedCityId).then((response) => {
          this.streets = response.data.data;
          this.loading = false;
        }).catch((error) => {
          this.streets = [];
          this.loading = false;
          this.error = error.message;
        });
      },
      getYears() {
        this.loading = true;
        axios.get('api/years/' + this.selectedStreetId).then((response) => {
          this.years = response.data.data;
          this.loading = false;
        }).catch((error) => {
          this.years = [];
          this.loading = false;
          this.error = error.message;
        });
      },
      getBuildings() {
        this.loading = true;
        axios.get('api/buildings/', {
          params: {
            city: this.selectedCityId,
            street: this.selectedStreetId,
            year: this.selectedYearId
          }
        }).then((response) => {
          this.buildings = response.data.data;
          this.loading = false;
        }).catch((error) => {
          this.buildings = [];
          this.loading = false;
          this.error = error.message;
        });
      }
    }
  }
</script>
